In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv("https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
df.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [4]:
east = df["East"].mean()
west = df["West"].mean()
north = df["North"].mean()
south = df["South"].mean()

print("East Mean = ", east )
print("West Mean = ", west )
print("North Mean = ", north )
print("South Mean = ", south )

East Mean =  242.5
West Mean =  832.5
North Mean =  743.5
South Mean =  410.0

Note that the choice of alpha depends on the level of significance desired for the test. 
Common values for alpha are **0.05** and **0.01**.

In [5]:
alpha = 0.05
Male = [50,142,131,70]
Female = [550,351,480,350]
sales = [Male, Female]
sales

[[50, 142, 131, 70], [550, 351, 480, 350]]

In [8]:
res = stats.chi2_contingency([df["East"], df["West"], df["North"], df["South"]])
print(res)
print('Test t=%f p-value=%f' % (res[0], res[1]))

p_value = res[1]
if p_value<alpha:
    print("we reject Null Hypothesis")
else:
    print("we accept Null Hypothesis")

(1.5959455386610577, 0.6603094907091882, 3, array([[  42.76531299,  442.23468701],
       [ 146.81287862, 1518.18712138],
       [ 131.11756787, 1355.88243213],
       [  72.30424052,  747.69575948]]))
Test t=1.595946 p-value=0.660309
we accept Null Hypothesis